src/main/mule/hello-world-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="731cb960-9148-4866-bcbf-623d0b88a267" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world-cicdFlow" doc:id="2fe9f420-48eb-4d8c-a228-cf1e58416e83" >
		<http:listener doc:name="Listener" doc:id="714a5afe-0309-4b26-85c8-d43a650963e3" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="It worked: Hello World" doc:name="Set Payload" doc:id="d77a2a52-af1c-47ba-8ccc-881f04dc4bde" />
		<logger level="INFO" doc:name="Logger" doc:id="4dce7c67-4aff-452e-ba49-961c0f81ee64" message="#[payload]"/>
	</flow>
</mule>
